# Linear Regression

## Importing the libraries

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importing the dataset

In [25]:
dataset = pd.read_csv('kemerer.csv')
X = dataset.iloc[ : ,   : -1 ].values
Y = dataset.iloc[ : , -1 ].values

dataset.head()

   id  ID  Language  Hardware  Duration  KSLOC   AdjFP  RAWFP  EffortMM
0   1   1         1         1        17  253.6  1217.1   1010    287.00
1   2   2         1         2         7   40.5   507.3    457     82.50
2   3   3         1         3        15  450.0  2306.8   2284   1107.31
3   4   4         1         1        18  214.4   788.5    881     86.90
4   5   5         1         2        13  449.9  1337.6   1583    336.30

## Splitting the dataset into the Training set and Test set

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = 1/4, shuffle=True)

## Training the Simple Linear Regression model on the Training set

In [27]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor = regressor.fit(X_train, Y_train)

## Predicting the Test set results

In [28]:
Y_pred = regressor.predict(X_test)
print(Y_test)
print("____________________________________")
print(Y_pred)

[ 72.   82.5 157.  336.3]
____________________________________
[-516.31946384  202.97794925  154.5047248   311.38574545]

Mean Absolute Error

In [29]:
from sklearn.metrics import mean_absolute_error as MAE

# Predict and evaluate
Y_pred = regressor.predict(X_test)
error = (np.subtract(Y_test,Y_pred)/np.maximum(np.absolute(Y_test),np.absolute(Y_pred))).mean()
print(f'MAE error is {error}')

MAE error is 0.15896838343815867

Root Mean Square Error

In [30]:
import math
MSE = np.square(np.subtract(Y_test,Y_pred)/np.maximum(np.absolute(Y_test),np.absolute(Y_pred))).mean() 
 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.6435036557691751