In [691]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np

In [692]:
# Import make_regression method to generate artificial data samples 
from sklearn.datasets import make_regression

In [693]:
data = pd.read_csv('kemerer.csv')

In [694]:
del data['id']
data.head()

   ID  Language  Hardware  Duration  KSLOC   AdjFP  RAWFP  EffortMM
0   1         1         1        17  253.6  1217.1   1010    287.00
1   2         1         2         7   40.5   507.3    457     82.50
2   3         1         3        15  450.0  2306.8   2284   1107.31
3   4         1         1        18  214.4   788.5    881     86.90
4   5         1         2        13  449.9  1337.6   1583    336.30

In [695]:
x = data.iloc[:, :-1]
y = data.iloc[:, -1]
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)
print(x.shape)
print("-------------------------")
print(y.shape)

(15, 7)
-------------------------
(15,)

In [696]:
from sklearn.model_selection import train_test_split as split_data
x_train, x_test, y_train, y_test = split_data(x, y, test_size=0.20, shuffle=True)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(12, 7) (3, 7) (12,) (3,)

In [697]:
from sklearn.tree import DecisionTreeRegressor
treeModel = DecisionTreeRegressor(max_depth=5, random_state=None)

In [698]:
treeModel.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=5)

In [699]:
print("Regression coefficient:",treeModel.score(x_train,y_train))

Regression coefficient: 0.9995464980799688

In [700]:
from sklearn.ensemble import RandomForestRegressor

In [701]:
model = RandomForestRegressor(max_depth=5, random_state=None,max_features='auto',max_leaf_nodes=5,n_estimators=50, criterion="absolute_error")
model.fit(x_train, y_train)

RandomForestRegressor(criterion='absolute_error', max_depth=5, max_leaf_nodes=5,
                      n_estimators=50)

In [702]:
print("Regression coefficient:",model.score(x_train,y_train))

Regression coefficient: 0.8826610444103125

In [703]:
y_pred = model.predict(x_test)
print(y_pred)
print("-------------------------------")
print(y_test)

[230.7442 102.9342 193.551 ]
-------------------------------
3     86.9
6     23.2
14    69.9
Name: EffortMM, dtype: float64

In [704]:
#np.mean(abs(np.array(y_pred)-np.array(y_test)))/np.sum(y_pred)

# Mean Absolute Error
from sklearn.metrics import mean_absolute_error as MAE
# error = MAE(y_test, y_pred)
error = (np.absolute(np.subtract(y_test,y_pred)/np.maximum(np.absolute(y_test),np.absolute(y_pred)))).mean()
print(f'MAE error is {error}')

MAE error is 0.6789535520267712

In [705]:
import math
# MSE = np.square(np.subtract(y_test,y_pred)).mean() 
# print(MSE)
 
# RMSE = math.sqrt(MSE)
# print("Root Mean Square Error:\n")
# print(RMSE)



MSE = np.square(np.subtract(y_test,y_pred)/np.maximum(np.absolute(y_test),np.absolute(y_pred))).mean() 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:")
print(RMSE)

Root Mean Square Error:
0.6823438772145504