# Linear Regression

## Importing the libraries

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importing the dataset

In [32]:
dataset = pd.read_csv('cocomo.csv')
X = dataset.iloc[ : ,   : -1 ].values
Y = dataset.iloc[ : , -1 ].values

dataset.head()

,id,rely,data,cplx,time,stor,virt,turn,acap,aexp,pcap,vexp,lexp,modp,tool,sced,loc,actual
0,1,0.88,1.16,0.70,1.0,1.06,1.15,1.07,1.19,1.13,1.17,1.1,1.00,1.24,1.10,1.04,113.0,2040.0
1,2,0.88,1.16,0.85,1.0,1.06,1.00,1.07,1.00,0.91,1.00,0.9,0.95,1.10,1.00,1.00,293.0,1600.0
2,3,1.00,1.16,0.85,1.0,1.00,0.87,0.94,0.86,0.82,0.86,0.9,0.95,0.91,0.91,1.00,132.0,243.0
3,4,0.75,1.16,0.70,1.0,1.00,0.87,1.00,1.19,0.91,1.42,1.0,0.95,1.24,1.00,1.04,60.0,240.0
4,5,0.88,0.94,1.00,1.0,1.00,0.87,1.00,1.00,1.00,0.86,0.9,0.95,1.24,1.00,1.00,16.0,33.0

## Splitting the dataset into the Training set and Test set

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = 1/4, shuffle=True)

## Training the Simple Linear Regression model on the Training set

In [34]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor = regressor.fit(X_train, Y_train)

## Predicting the Test set results

In [35]:
Y_pred = regressor.predict(X_test)
print(Y_test)
print("____________________________________")
print(Y_pred)

[3.600e+01 5.900e+00 8.000e+00 4.530e+02 1.300e+02 4.300e+01 9.000e+00
 2.180e+02 3.870e+02 5.390e+02 6.100e+01 2.455e+03 1.075e+03 7.000e+01
 8.000e+00 1.140e+04]
____________________________________
[ 590.77741085 -204.45795941 1177.70490048 -126.81357589 -209.00567125
 -534.24011871  671.76858873  845.56372771 -289.1410696  1051.45344657
 1661.50676494 1662.78403394  679.71436476    4.42826883 -716.08228333
 2325.02657207]

Mean Absolute Error

In [36]:
from sklearn.metrics import mean_absolute_error as MAE

# Predict and evaluate
Y_pred = regressor.predict(X_test)
error = (np.subtract(Y_test,Y_pred)/np.maximum(np.absolute(Y_test),np.absolute(Y_pred))).mean()
print(f'MAE error is {error}')

MAE error is 0.3175661312694817

Root Mean Square Error

In [39]:
import math
MSE = np.square(np.subtract(Y_test,Y_pred)/np.maximum(np.absolute(Y_test),np.absolute(Y_pred))).mean() 
 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.9127087949403486