In [616]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np

In [617]:
# Import make_regression method to generate artificial data samples 
from sklearn.datasets import make_regression

In [618]:
data = pd.read_csv('albrecht.csv')

In [619]:
del data['id']
data.head()

   Input  Output  Inquiry  File  FPAdj  RawFPcounts  AdjFP  Effort
0     25     150       75    60   1.00      1750.00   1750   102.4
1    193      98       70    36   1.00      1902.00   1902   105.2
2     70      27        0    12   0.80       535.00    428    11.1
3     40      60       20    12   1.15       660.00    759    21.1
4     10      69        1     9   0.90       478.89    431    28.8

In [620]:
x = data.iloc[:, :-1]
y = data.iloc[:, -1]
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)
print(x.shape)
print("-------------------------")
print(y.shape)

(24, 7)
-------------------------
(24,)

In [621]:
from sklearn.model_selection import train_test_split as split_data
x_train, x_test, y_train, y_test = split_data(x, y, test_size=0.20, shuffle=True)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(19, 7) (5, 7) (19,) (5,)

In [622]:
from sklearn.tree import DecisionTreeRegressor
treeModel = DecisionTreeRegressor(max_depth=5, random_state=None)

In [623]:
treeModel.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=5)

In [624]:
print("Regression coefficient:",treeModel.score(x_train,y_train))

Regression coefficient: 0.999507980745915

In [625]:
from sklearn.ensemble import RandomForestRegressor

In [626]:
model = RandomForestRegressor(max_depth=5, random_state=None,max_features='auto',max_leaf_nodes=5,n_estimators=50, criterion="absolute_error")
model.fit(x_train, y_train)

RandomForestRegressor(criterion='absolute_error', max_depth=5, max_leaf_nodes=5,
                      n_estimators=50)

In [627]:
print("Regression coefficient:",model.score(x_train,y_train))

Regression coefficient: 0.9647015767845905

In [628]:
y_pred = model.predict(x_test)
print(y_pred)
print("-------------------------------")
print(y_test)

[ 6.06   5.797 16.972 65.65  23.824]
-------------------------------
5     10.0
22     0.5
3     21.1
19    61.2
21    11.8
Name: Effort, dtype: float64

In [629]:
#np.mean(abs(np.array(y_pred)-np.array(y_test)))/np.sum(y_pred)

# Mean Absolute Error
from sklearn.metrics import mean_absolute_error as MAE
# error = MAE(y_test, y_pred)
error = (np.absolute(np.subtract(y_test,y_pred)/np.maximum(np.absolute(y_test),np.absolute(y_pred)))).mean()
print(f'MAE error is {error}')

MAE error is 0.41517462883560735

In [630]:
import math
# MSE = np.square(np.subtract(y_test,y_pred)).mean() 
# print(MSE)
 
# RMSE = math.sqrt(MSE)
# print("Root Mean Square Error:\n")
# print(RMSE)



MSE = np.square(np.subtract(y_test,y_pred)/np.maximum(np.absolute(y_test),np.absolute(y_pred))).mean() 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:")
print(RMSE)

Root Mean Square Error:
0.5074968201114116