# Linear Regression

## Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importing the dataset

In [2]:
dataset = pd.read_csv('china.csv')
X = dataset.iloc[ : ,   : -1 ].values
Y = dataset.iloc[ : , -1 ].values

dataset.head()

,id,ID,AFP,Input,Output,Enquiry,File,Interface,Added,Changed,Deleted,PDR_AFP,PDR_UFP,NPDR_AFP,NPDU_UFP,Resource,Dev.Type,Duration,N_effort,Effort
0,1,1,1587,774,260,340,128,0,1502,0,0,4.7,5.0,4.7,5.0,4,0,4.0,7490,7490
1,2,2,260,9,4,3,193,41,51,138,61,16.0,16.6,16.0,16.6,2,0,17.0,4150,4150
2,3,3,152,25,33,28,42,35,163,0,0,4.4,4.1,4.4,4.1,1,0,9.0,668,668
3,4,4,252,151,28,8,39,0,69,153,4,12.8,14.3,15.5,17.3,1,0,4.0,3901,3238
4,5,5,292,93,0,194,20,0,0,307,0,10.3,9.8,12.4,11.7,1,0,13.0,3607,2994

## Splitting the dataset into the Training set and Test set

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = 1/4, shuffle=True)

## Training the Simple Linear Regression model on the Training set

In [4]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor = regressor.fit(X_train, Y_train)

## Predicting the Test set results

In [5]:
Y_pred = regressor.predict(X_test)
print(Y_test)
print("____________________________________")
print(Y_pred)

[ 2600   563  2326   140  3655   691  4622  1049  1265   305  2683  1158
   404   300  5532  9296  2933  1167  3995   973  1586  3372  1440   374
   338  1788 16788  1200   580  7060   114    80   176  1035  6844 54620
   328  3006   391   950  2515  1248  1512   687  9720  1278   338  1383
  2533   774  8549  9094   129   619   976   183  1211  2551   700   191
   553   742   780   909   579   705  2988 15165  7443  3711  2791   334
 25217   827   436    89  4266  1896   906   281  1313  3287   481  1293
   211 36046  3532  1817  1262   789  1984  1801  1246  3500 10080   311
  2362   341  1724   483   239  1464  1708  3214  1538  3986  5732  2890
  2019  3368   762  2521   941  2014   354  2109 16179  1785  1333  1186
   387   736  5078  2597  1930]
____________________________________
[ 2.88745789e+03  7.31707729e+02  1.84100293e+03  1.29625086e+02
  3.83806855e+03  5.23074536e+02  4.84011766e+03  1.26358052e+03
  1.49803803e+03  2.54057999e+01  2.55610802e+03  1.34678433e+03
  3.01151634e+02  3.17155107e+02  5.65071188e+03  8.88716349e+03
  3.04039780e+03  1.16721281e+03  5.94927760e+03  9.06580349e+02
  1.61976008e+03  1.91448112e+03  1.56503610e+03  9.26340671e+01
  2.06260627e+02  2.12273319e+03  1.60396795e+04  1.41010903e+03
  1.45441922e+03  7.13488800e+03  6.09894693e+01 -1.10607374e+02
  1.17215273e+02  1.14297529e+03  7.12681849e+03  5.73451323e+04
  2.84286262e+02  4.00153542e+03  2.40819485e+02  1.12493495e+03
  2.10001915e+03  1.11171444e+03  1.59833723e+03  3.64599240e+02
  9.61908056e+03  1.30816770e+03  5.01967383e+02  1.26704790e+03
  2.46641782e+03  6.61972377e+02  8.75449920e+03  1.12174514e+04
 -2.99085974e+01  5.85093877e+02  9.99533759e+02 -4.28753618e+01
  9.09257721e+02  2.43494813e+03  6.78510584e+02  3.41380448e+02
  6.22112570e+02  6.62408705e+02  1.19207481e+03  7.15813549e+02
  4.13508103e+02  6.34013715e+02  3.22598352e+03  1.46203587e+04
  7.69073928e+03  3.59616065e+03  3.25924919e+03  2.32024959e+02
  2.70816776e+04  5.25306002e+02 -4.77970608e+00 -2.29148997e+02
  5.72571638e+03  1.87818554e+03  7.76050617e+02  2.52027457e+02
  1.15377358e+03  3.42859573e+03  2.10134078e+02  1.04756472e+03
  8.24633098e+02  3.22105694e+04  3.83661034e+03  1.94842712e+03
  1.28456361e+03  6.21920256e+02  1.84670505e+03  1.79869118e+03
  6.17340834e+02  3.44265682e+03  1.02624752e+04  1.71717013e+02
  2.32239685e+03  2.17911859e+02  2.75241377e+03  3.22269222e+02
  1.08607352e+03  1.57087644e+03  1.83458487e+03  3.02887164e+03
  1.94869898e+03  5.81960461e+03  5.60221894e+03  2.76614222e+03
  1.97700038e+03  3.98257804e+03  2.70853216e+03  2.32239232e+03
  7.46822961e+02  2.15227131e+03  4.88176914e+02  2.54312176e+03
  1.51777930e+04  1.62117771e+03  1.06465500e+03  9.54389899e+02
  2.38840071e+02  7.72267350e+02  5.01920984e+03  2.53274782e+03
  1.77216269e+03]

Mean Absolute Error

In [6]:
from sklearn.metrics import mean_absolute_error as MAE

# Predict and evaluate
Y_pred = regressor.predict(X_test)
error = (np.subtract(Y_test,Y_pred)/np.maximum(np.absolute(Y_test),np.absolute(Y_pred))).mean()
print(f'MAE error is {error}')

MAE error is 0.0770699950666766

Root Mean Square Error

In [7]:
import math
MSE = np.square(np.subtract(Y_test,Y_pred)/np.maximum(np.absolute(Y_test),np.absolute(Y_pred))).mean() 
 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.36908490132771277