In [586]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np

In [587]:
# Import make_regression method to generate artificial data samples 
from sklearn.datasets import make_regression

In [588]:
data = pd.read_csv('china.csv')

In [589]:
del data['id']
data.head()

,ID,AFP,Input,Output,Enquiry,File,Interface,Added,Changed,Deleted,PDR_AFP,PDR_UFP,NPDR_AFP,NPDU_UFP,Resource,Dev.Type,Duration,N_effort,Effort
0,1,1587,774,260,340,128,0,1502,0,0,4.7,5.0,4.7,5.0,4,0,4.0,7490,7490
1,2,260,9,4,3,193,41,51,138,61,16.0,16.6,16.0,16.6,2,0,17.0,4150,4150
2,3,152,25,33,28,42,35,163,0,0,4.4,4.1,4.4,4.1,1,0,9.0,668,668
3,4,252,151,28,8,39,0,69,153,4,12.8,14.3,15.5,17.3,1,0,4.0,3901,3238
4,5,292,93,0,194,20,0,0,307,0,10.3,9.8,12.4,11.7,1,0,13.0,3607,2994

In [590]:
x = data.iloc[:, :-1]
y = data.iloc[:, -1]
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)
print(x.shape)
print("-------------------------")
print(y.shape)

(499, 18)
-------------------------
(499,)

In [591]:
from sklearn.model_selection import train_test_split as split_data
x_train, x_test, y_train, y_test = split_data(x, y, test_size=0.20, shuffle=True)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(399, 18) (100, 18) (399,) (100,)

In [592]:
from sklearn.tree import DecisionTreeRegressor
treeModel = DecisionTreeRegressor(max_depth=5, random_state=None)

In [593]:
treeModel.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=5)

In [594]:
print("Regression coefficient:",treeModel.score(x_train,y_train))

Regression coefficient: 0.9971625055780979

In [595]:
from sklearn.ensemble import RandomForestRegressor

In [596]:
model = RandomForestRegressor(max_depth=5, random_state=None,max_features='auto',max_leaf_nodes=5,n_estimators=50, criterion="absolute_error")
model.fit(x_train, y_train)

RandomForestRegressor(criterion='absolute_error', max_depth=5, max_leaf_nodes=5,
                      n_estimators=50)

In [597]:
print("Regression coefficient:",model.score(x_train,y_train))

Regression coefficient: 0.9399715730958856

In [598]:
y_pred = model.predict(x_test)
print(y_pred)
print("-------------------------------")
print(y_test)

[  745.34  4596.8   2686.82  3509.5    745.34   745.34   901.42 18658.74
  2686.82   745.34  6427.28  8780.52   745.34   745.34   745.34   745.34
  5301.39  3598.25  6141.28   901.42   745.34  2686.82  7807.67 14686.2
   745.34   745.34  1562.17  3415.02  1047.63  4596.8   5139.19   745.34
   745.34   745.34   767.76   745.34  7807.67   745.34   745.34  7807.67
  2686.82   745.34   767.76   901.42  3415.02  7184.85 16782.01  2686.82
  3228.53  1888.33   745.34   745.34  1315.6   8317.02   745.34   745.34
  3415.02   745.34   767.76  1888.33   745.34  4596.8    745.34   745.34
   745.34   901.42   745.34  3465.46   767.76   745.34 17229.74   745.34
   745.34  3228.53  3509.5   7043.07  7184.85  3509.5    745.34  4873.48
   745.34  7807.67   745.34  1315.6   1315.6   3228.53  2686.82  1888.33
  3415.02 26276.07  6141.28  3465.46  3509.5   2686.82  1242.53   745.34
   745.34  3286.47   767.76  3228.53]
-------------------------------
90      136
294    5597
303    2600
9      3372
125     906
       ...
218     140
357     454
13     3348
404    1238
345    2738
Name: Effort, Length: 100, dtype: int64

In [599]:
#np.mean(abs(np.array(y_pred)-np.array(y_test)))/np.sum(y_pred)

# Mean Absolute Error
from sklearn.metrics import mean_absolute_error as MAE
# error = MAE(y_test, y_pred)
error = (np.absolute(np.subtract(y_test,y_pred)/np.maximum(np.absolute(y_test),np.absolute(y_pred)))).mean()
print(f'MAE error is {error}')

MAE error is 0.2435985086350536

In [600]:
import math
# MSE = np.square(np.subtract(y_test,y_pred)).mean() 
# print(MSE)
 
# RMSE = math.sqrt(MSE)
# print("Root Mean Square Error:\n")
# print(RMSE)



MSE = np.square(np.subtract(y_test,y_pred)/np.maximum(np.absolute(y_test),np.absolute(y_pred))).mean() 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:")
print(RMSE)

Root Mean Square Error:
0.32821477075185645